<h1 class="bg-primary text-white text-center">Pipe</h1>

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1">
      <p class="alert alert-info mb-4">
        {{title | lowercase}}
      </p>
      <p class="alert alert-info mb-4">
        {{title | uppercase}}
      </p>
      <p class="alert alert-info mb-4">
        {{title | titlecase}}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-1">
      <p class="alert alert-info mb-4 text-center">
        {{cource.Name | uppercase}}
      </p>

      <p class="alert alert-info mb-4 text-center">
        {{cource.student | number}}
      </p>

      
      <p class="alert alert-info mb-4 text-center">
        {{cource.price | currency}}
        <br>
        {{cource.price | currency : "AUD"}}
        <br>
        {{cource.price | currency : "INR"}}
        <br>
        {{cource.price | currency: "KRW"}}
        <br>
        {{cource.price | currency: "JPY"}}
      </p>

      <p class="alert alert-info mb-4 text-center">
        {{cource.rating | number: '2.2-2'}}
        <br>
        {{cource.rating | number: '2.4-4'}}
        <br>
        {{cource.rating | number: '1.2-2'}}
      </p>

      <p class="alert alert-info mb-4 text-center">
        {{cource.releaseDate | date}}
        <br>
        {{cource.releaseDate | date : 'short'}}
        <br>
        {{cource.releaseDate | date: 'medium'}}
        <br>
        {{cource.releaseDate | date: 'long'}}
        <br>
        {{cource.releaseDate | date: 'full'}}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-1">
      <p class="alert alert-info mb-4">
        {{title | summery}}
      </p>
      <p class="alert alert-info mb-4">
        {{title | summery: 100}}
      </p>
    </div>
  </div>
</div>